<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List Department</title>


</head>
<body>

	<th:bolck th:insert="header.html"></th:bolck>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h5>Department List Form</h5>
			</div>
			<div class="card-body">
				<table class="table">

					<thead>
						<tr>
							<td>Department Name</td>
							<td>Department Head(HoD)</td>
							<td>Department Phone</td>
							<td>Action</td>
						</tr>
					</thead>

					<tbody>
						<tr th:each=" d: ${dList}">

							<td>[[${d.dept_name}]]</td>
							<td>[[${d.dept_head}]]</td>
							<td>[[${d.dept_phone}]]</td>

							<td><a th:href="@{/dept/edit(id=${d.id})}"><input
									type="submit" value="Edit" class="btn btn-success"></a> <a
								th:href="@{/dept/delete(id=${d.id})}"><input type="submit"
									value="Delete" class="btn btn-danger"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
			<div class="card-footer bg-warning text-center">Copyright@2023</div>
		</div>
	</div>
</body>
</html>