<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Form</title>


</head>
<body>
	<th:bolck th:insert="header.html"></th:bolck>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h5>Employee Form</h5>
			</div>
			<div class="card-body">
				<div class="p-2">
					<a href="/emp/excel"><input type="submit" value="Excel"
						class="btn btn-success"></a> <a href="/emp/pdf"><input
						type="submit" value="PDF" class="btn btn-danger"></a>
				</div>
				<table class="table">

					<thead>
						<tr>
							<td>First Name</td>
							<td>Last Name</td>
							<td>Email</td>
							<td>Phone</td>
							<td>Age</td>
							<td>Country</td>
							<td>DoB</td>
							<td>Gender</td>
							<td>Company Name</td>
							<td>Department Name</td>
							<td>Join date</td>
							<td>Post</td>
							<td>Salary</td>
							<td>Action</td>
						</tr>
					</thead>

					<tbody>
						<tr th:each=" e: ${empList}">

							<td>[[${e.emp_fname}]]</td>
							<td>[[${e.emp_lname}]]</td>
							<td>[[${e.emp_email}]]</td>
							<td>[[${e.emp_phone}]]</td>
							<td>[[${e.age}]]</td>
							<td>[[${e.address.country}]]</td>
							<td>[[${e.dob}]]</td>
							<td>[[${e.gender}]]</td>
							<td>[[${e.companyName}]]</td>
							<td>[[${e.department.dept_name}]]</td>
							<td>[[${e.joinDate}]]</td>
							<td>[[${e.post}]]</td>
							<td>[[${e.emp_salary}]]</td>

							<td><a th:href="@{/emp/edit(id=${e.id})}"><input
									type="submit" value="Edit" class="btn btn-success"></a> <a
								th:href="@{/emp/delete(id=${e.id})}"><input type="submit"
									value="Delete" class="btn btn-danger"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
			<div class="card-footer bg-warning text-center">Copyright@2023</div>
		</div>
	</div>

</body>
</html>