<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Profile</title>
</head>
<body>
<th:bolck th:insert="header.html"></th:bolck>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h5>User Details</h5>
			</div>
			<div class="card-body">

					<div class="row  p-2">
						<div class="col-4">FirstName</div>
						<div class="col-6">
							[[${session.activeuser.fname}]]
						</div>
					</div>
					<div class="row  p-2">
						<div class="col-4">LirstName</div>
						<div class="col-6">
							[[${session.activeuser.lname}]]
						</div>
					</div>
					<div class="row  p-2">
						<div class="col-4">Email</div>
						<div class="col-6">
							[[${session.activeuser.email}]]
						</div>
					</div>
					
			</div>
			<div class="card-footer bg-warning text-center">Copyright@2023</div>
		</div>
	</div>
</body>
</html>