<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Upload</title>
</head>
<body>
<th:bolck th:insert="header.html"></th:bolck>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h5>Upload Form</h5>
			</div>
			<div class="card-body">

				<form action="/upload" method="post" enctype='multipart/form-data'>
					<div class="row  p-2">
						<div class="col-4">Select</div>
						<div class="col-6">
							<input type="file" name="image" class="form-control">
						</div>
					</div>
					
					<div class="row  p-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Upload" class="btn btn-success btn-lg">
						</div>
					</div>
				</form>
				<p>[[${message}]]</p>
			</div>
			<div class="card-footer bg-warning text-center">Copyright@2023</div>
		</div>
	</div>
</body>
</html>