<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Patient Information</title>
</head>
<body>

	<h1>Patient Information</h1>
	<hr>
	<p>First name : [[${fname}]]</p>
	<p>Last name : [[${lname}]]</p>
	<p>Mobile : [[${mobile}]]</p>
	<p>Gender : [[${gender}]]</p>
	<p>DOB : [[${dob}]]</p>
	<p>Marial Status : [[${status}]]</p>
	<p>Present Address : [[${paddress}]]</p>
	<p>Community Address : [[${caddress}]]</p>
	<p>Past Medical History : [[$medical]]</p>
	<p>Other Detail : [[${detail}]]</p>
	
	<a href="/patient">Back</a>

</body>
</html>